body {
    padding: 0;
    margin: 0;
}
body, #entry {
    background: #22252a;
    color: #eee;
}
body, table {
    font-family: DejaVu Sans Mono, fixed;
    font-size: 10pt;
    line-height: 150%;
}
tr,td,table {
    padding: 0;
    margin: 0;
    outline-width: 0;
    border-width: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0
}

a { text-decoration: none; color: #fff; }
a:hover { text-decoration: underline; color: #aaa; }

#toolbar {
    position: fixed;
    color: #fff;
    width: 100%;
    bottom: 0;
    background: #933;
}

#entry {
    width: 100%;
    font-size: inherit;
    padding: 1em;
    margin: 0;
    border-width: 0;
    outline-width: 0;
    clear: both;
}

#log {
    display: block;
    /* enough padding to clear the toolbar.. is there a better way to do this? */
    padding-bottom: 2.1em;
    background: inherit;
    overflow: hidden;
}

/* not very important info */
.notice td, .join td, .part td, .message .date { color: #555; }
.error td { color: #933; }

.OK { color: #555; }

.ERROR, .RECOVERABLE_ERROR, .PARSE, .STRICT, .CORE_ERROR,
.COMPILE_ERROR, .USER_ERROR { color: #933; }

.NOTICE, .DEPRECATED, .USER_NOTICE, .USER_DEPRECATED {color: #cd5; }

.WARNING, .CORE_WARNING, .COMPILE_WARNING, .USER_WARNING {color: #F7A63D; }

.message {
    margin: 0.1em 0;
}

.message td {
    vertical-align: top;
}

.host {
    font-weight: bold;
    padding: 0 1em 0 0.5em;
}

#toolbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toolbar li {
    display: block;
    float: left;
    margin: 0 2em 0 0;
}

#usersLink {
    color: inherit;
}